body {background-color: black; text-align: justify; font-size: 18px;}
h1 {text-align: center;background-color: crimson;color: black;}
h3 {text-align: justify;color: crimson;}
b {color: blue; font-size: 18px;}
I {color: black; font-size: 18px;}
Reader, footer {background-color: aliceblue; color: blue; text-align: center; font-size: 20px;}
main {background-color: black;}
.PRIMEIROPARAGRAFO {text-align: justify; font-size: 18px; border: black solid; 2px; padding: 10px:maring: 10px}
.SEGUNDOPARAGRAFO { text-align: justify; font-size: 18px; border: black solid 2px; padding: 10px: marging: 10px}
#TITULOIMAGEM (widht 5%; heidht: 5%;}
#lista {display: inline - block;}